<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cardinalblue.lib.doodle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".SketchEditorActivity"
            android:theme="@style/AppTheme.SketchEditor">
        </activity>
    </application>
</manifest>
